html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #F8DDDD
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
    width: max-content;
}
.gallery {
  flex-flow: column nowrap;
  gap: 20px;
  display: flex;
}
.gallery-card {
  width: 80%;
  margin: 0 auto;
  border: 3px black solid;
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}
.gallery-card > img {
    height: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.gallery-card > span {
    vertical-align: top;
    font-size: 18px;
}
.card-title {
    width: max-content;
    font-weight: bold;
    font-size: 150%;
}
.restaurant-main {
  width: 300px;
  display: block;
  margin: 10px auto;
}
.restaurant-info {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 15%;
    gap: 20px;
}
.restaurant-hours {
    min-width: max-content;
}
.restaurant-description {
    flex: 1;
}
#about {
    margin: 0 10px;
}
p, span, #bike-aside{
    font-size: 20px;
}
header {
    font-size: 40px;
    margin: 20px auto;
    width: max-content;
}
#main-container {
    display: flex;
    flex-flow: row-reverse nowrap;

}
#bike-aside {
    width: 70ch;
}
footer {
    margin: 20px auto;
    width: max-content;
}